<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EttiCodes - Registration Fourm</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
    <style>
      .gradient {
        background: linear-gradient(30deg, #ff0000ec 10%, #000 35%);
      }
      .avatar-div {
        text-align: center;
        padding: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
      }

      #inputTag {
        display: none;
      }
      .avatar-label {
        cursor: pointer;
      }
      #break {
        margin-top: 0.5rem;
      }
      #imageName {
        color: white;
        text-shadow: 0 0 0.3rem white;
      }
      .fa {
        border-radius: 50%;
        border: 2px solid white;
        padding: 13px;
      }
      .submit-button {
        background-color: black;
        color: white;
        padding: 0.7rem;
        /* text-shadow: 0px 0px 3px white; */
        font-size: 19px;
        transition: 0.1s;
      }
      .submit-button:hover {
        margin-top: -4px;
        color: white;
        padding: 0.7rem;
        text-shadow: 0px 0px 10px white;
        font-size: 21px;
      }
    </style>
  </head>
  <body class="bg-gray-200">
    <!--  -->
    <!--  -->
    <!--  -->
    <div class="h-screen md:flex">
      <div
        class="jxjx relative overflow-hidden w-full md:flex flex h-screen px-8 gradient from-blue-800 to-purple-700 i justify-around items-center"
      >
        <form class="" method="POST" enctype="multipart/form-data">
          <h1 class="text-white font-bold text-2xl mb-1">
            Make Yourself Visible!
          </h1>
          <p class="text-sm font-normal text-white mb-2">
            &rarr; Don't delay! Make yourself visible among others.
          </p>

          <div class="avatar-div">
            <label class="avatar-label" for="inputTag">
              <i class="fa fa-2x fa-camera"> </i>
              <p id="break"></p>
              <p id="unselected">Choose a Picture</p>
              <input type="file" name="avatar" id="inputTag" required />
              <p id="break"></p>
              <span id="imageName"></span>
            </label>
          </div>

          <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clip-rule="evenodd"
              />
            </svg>
            <input
              class="pl-2 outline-none border-none text-white bg-transparent"
              type="text"
              name="username"
              id="name"
              placeholder="Username"
              required
            />
          </div>
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
              />
            </svg>
            <input
              class="pl-2 outline-none border-none bg-transparent text-white"
              type="text"
              name="profession"
              id="phone"
              placeholder="Profession"
              required
            />
          </div>
          <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              />
            </svg>
            <input
              class="pl-2 outline-none border-none bg-transparent text-white"
              type="text"
              name="facebook"
              id="email"
              placeholder="Facebook Account Name"
              required
            />
          </div>

          <button
            type="submit"
            id="save"
            class="submit-button w-full font-semibold mb-2"
          >
            &rarr; Let's go! &larr;
          </button>
        </form>

        <div
          class="md:block hidden absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
        ></div>
        <div
          class="md:block hidden absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
        ></div>
        <div
          class="md:block hidden absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
        ></div>
        <div
          class="md:block hidden absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"
        ></div>
      </div>
    </div>
    <script>
      const name = document.getElementById("name");
      const phone = document.getElementById("phone");
      const email = document.getElementById("email");
      const pw = document.getElementById("pw");
      const save = document.getElementById("save");
      save.addEventListener("click", () => {
        localStorage.setItem("name", name.value);
        localStorage.setItem("phone", phone.value);
        localStorage.setItem("email", email.value);
        localStorage.setItem("pw", pw.value);
      });
    </script>

    <script>
      function visibility() {
        const x = document.getElementById("pw");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }

      let input = document.getElementById("inputTag");
      let imageName = document.getElementById("imageName");
      let unselectedText = document.getElementById("unselected");
      input.addEventListener("change", () => {
        let inputImage = document.querySelector("input[type=file]").files[0];
        unselectedText.style.display = "none";
        imageName.innerText = "Photo : " + inputImage.name;
      });
    </script>
  </body>
</html>
